/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Red+Rose&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
.search {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input-land {
  display: block;
  padding: 10px;
  margin-left: 10px;
}
.search-btn {
  margin-left: 60px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 200px;
}
img{
  object-fit: contain;
}